*{
    margin: 0px;
    font-family: Verdana;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 24px;
    background-color: rgb(0,100,100);
}
header{
    width: 100%;
    border-bottom: rgb(177, 177, 177) 5px solid;
    margin-bottom: 20px;
}
h1{
    color:white;
    font: bold 36px Verdana;
    margin-top: 30px;
    margin-bottom: 10px;
}
h2{
    color:white;
    font: normal 20px Verdana;
    margin-bottom: 30px;
}
#div_result{
    width: 33%;
    color: white;
    border-radius: 100px;
    padding: 10px;
    margin-bottom: 20px;
}
form{
    width: 33%;
    border-radius: 10px;
    background-color: rgb(226, 226, 226);
    padding: 10px;
}
legend{
    text-align: center;
    font: normal 20px Verdana;
}
._div_input{
    text-align: center;
    border: solid 1px;
    background-color: rgb(255,255,100);
    padding: 10px;
    margin: 5px;
}
._input{
    width: 100px;
    font-size: 20px;
    text-align: center;
}
._unit{
    display: inline-block;
}
#input_calc{
    font-size: 24px;
}
footer{
    width: 100%;
    border-bottom: rgb(177, 177, 177) 5px solid;
    margin-top: 20px;
}